# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Build output
dist/
dist-ssr/
.vercel/output/

# Environment files
.env
.env.*          # For multiple env files (e.g., .env.production)

# Editor and system files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary or local files
*.local

# Server or backend files you don’t want deployed to frontend
server.js
api/server.js
api/tempCodeRunnerFile.js
folder-structure.txt

# ESLint config
eslint.config.js
